<div class="contianer-fluid">
  <div class="col-md-6">
    <h1>Welcome, <%= @current_user.first_name %>!</h1>
    <h2>
      Tell us about your house...
    </h2>

    <form action="/insert_house" method="post">
      <div class="mb-3">
        <label for="street_address_box" class="form-label">
          Street address
        </label>

        <input type="text" class="form-control" id="street_address_box" name="query_street_address">
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="city_box" class="form-label">
            City
          </label>

          <input type="text" class="form-control" id="city_box" name="query_city">
        </div>

        <div class="col-md-2">
          <label for="state_box" class="form-label">
            State
          </label>

          <input type="text" class="form-control" id="state_box" name="query_state">
        </div>

        <div class="col-md-4">
          <label for="zip_code_box" class="form-label">
            Zip code
          </label>

          <input type="text" class="form-control" id="zip_code_box" name="query_zip_code">
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col">
          <label for="purchase_date_box" class="form-label">
            Purchase date
          </label>

          <input type="date" class="form-control" id="purchase_date_box" name="query_purchase_date">
        </div>

        <div class="col">
          <label for="primary_residence_box" class="form-label">
            Primary residence
          </label>

          <select type="text" class="form-control" id="primary_residence_box" name="query_primary_residence">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"> 
        Create house
      </button>
    </form>
  </div>
</div>