<div class="container">



  <div class="row mb-5 mt-3 border">
    <div class="col-md-4">
      <img src="<%= @street_view_image %>" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <h1>
        <p class="text-center">
          <%= @current_user.first_name + "'s House" %>
        </p>
        <p class="text-center">
          <%= @primary_residence.street_address + ", " + @primary_residence.city + ", " + @primary_residence.state + " " + @primary_residence.zip_code %>
        </p>
      </h1>
    </div>
  </div>

  <div class ="row mb-3">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://4bbdwp2p.media.zestyio.com/kitchen-appliances-image.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">My Appliances</h5>
          <p class="card-text">Check out your appliances and/or add a new one.</p>
          <a href="#" class="btn btn-primary">Go to appliances</a>
        </div>
      </div>
    </div>
  </div>

</div>